<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
	<title>Form_By_MaT</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="feedback">
	<div class="feedback__bitmap">
		<h1>Sign up</h1>
	</div>
	<div class="feedback__form">
		<div class="container">
			<div class="feedback__form-title">
				<h2>New user?</h2>
				<p>Use the form below to create your account.</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>