<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FancyBoxByMat</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
{#<section class="gallery">
    <h1>Котогалерея</h1>
    <div class="gallery__pictures">
        <p class="gallery__pictures-full">
            <img src="/images/big_img/Cats_1.jpg" class="full-picture" width="450" height="300" alt="Big">
        </p>
        <p class="gallery__picture-previews">
            <button class="gallery__picture-preview" type="button">
                <img src="/images/big_img/Cats_1.jpg" alt="small-1">
            </button>
            <button class="gallery__picture-preview" type="button">
                <img src="/images/big_img/Cats_2.jpg" alt="small-2">
            </button>
            <button class="gallery__picture-preview" type="button">
                <img src="/images/big_img/Cats_3.jpg" alt="small-3">
            </button>
        </p>
    </div>
</section>#}
<section class="gallery">
    <ul class="img-list">
        <li>
            <a href="images/big_img/img-1-lg.jpg"><img src="images/big_img/img-1-sm.jpg" alt=""></a>
        </li>
        <li>
            <a href="images/big_img/img-2-lg.jpg"><img src="images/big_img/img-2-sm.jpg" alt=""></a>
        </li>
        <li>
            <a href="images/big_img/img-3-lg.jpg"><img src="images/big_img/img-3-sm.jpg" alt=""></a>
        </li>
        <li>
            <a href="images/big_img/img-4-lg.jpg"><img src="images/big_img/img-4-sm.jpg" alt=""></a>
        </li>
    </ul>
</section>
<script src="/js/script.js"></script>
</body>
</html>